.Blog {
  background: rgb(218, 204, 204);
  .Create-Blog {
    padding: 20px;
    button {
      width: 120px;
      height: 50px;
      border-radius: 10px;
      border: 1px solid rgba(1, 1, 1, 0.5);
      font-size: 20px;
      cursor: pointer;
    }
  }
  .Blog-container {
    padding: 20px;
    border: 1px solid rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    .blog-item {
      position: relative;
      width: 20%;
      border: 1px solid rgb(1, 1, 1);
      padding: 10px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      text-align: start;
      .blog-id {
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(56, 107, 96);
        &:hover {
          opacity: 0.9;
        }
        a {
          text-decoration: none;
          color: rgb(177, 168, 168);
        }
      }
      .title {
        margin: 10px 0px;
        color: rgb(4, 130, 247);
      }
      i {
        position: absolute;
        right: 0;
        font-size: 25px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
